/* css 초기화 */
/* 전체 선택자 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* content box도 있다 */
}

html {}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* line-height: 1.6=160%; */
    letter-spacing: -0.02em;
    color: black;
    background-color: #fff;
}

/* 그룹 선택자 */
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: 0;
    vertical-align: middle;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

/* 클래스 선택자 */
/* 클래스 선택자는 '.'으로 시작 */
.wrap {
    width: 100%;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.inner {
    width: 100%;
    max-width: 928px;
    height: 100%;
    /* background-color: #fff; */
}

/* 헤더영역 시작 */
.header {
    width: 100%;
    height: 130px;
    padding-top: 20px;
    padding-bottom: 10px;
    /* background-color: #8cbdfe; */

    /* figma Auto layout */
    display: flex;
    justify-content: center;
    /* 세로로 중앙 정렬 */
    align-items: center;
    /* 가로로 중앙 정렬 */
}

/*  */
.header .inner {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 0px 8px;
}

.logo {
    display: block;
    width: 139px;
    height: 24px;
    font-size: 0;
    /* text-indent: -999px; */
}

.logo img {
    width: 100%;
    object-fit: contain;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list {
    /* ul.menu-list */
    /* Auto layout */
    display: flex;
    gap: 40px;
    align-items: center;
    /* background: #948989; */
}

.menu-list li a {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.home {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../asset/icon/main_black_ico.png");
    /* background-repeat: repeat-y; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -999px;
    /* font size: 0; */
}

.nav-utils {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-pick {}

.main-pick {
    width: 32px;
    height: 32px;
}

.main-pick img {
    width: 100%;
    object-fit: contain;
}

.main-pick-bubble {}

.main-search {
    width: 32px;
    height: 32px;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: contain; */
    /* background-image: url("../asset/icon/search_btn_bk.png"); */
    background: url(../asset/icon/search_btn_bk.png) no-repeat center;
    background-size: contain;
}

/* 헤더영역 끝 */

/* 메인 영역 시작 */
.main {
    width: 100%;
    background-color: #f9b28c;
}

.hero {
    width: 100%;
    height: 658px;
    background-color: #db6161;
}

.keywords {
    width: 100%;
    height: 85px;
    background-color: #bfe995;
}

.rank {
    width: 100%;
    height: 384px;
    padding-top: 65px;
    background-color: #61F982;
}

.festival {
    width: 100%;
    height: 507px;
    padding-top: 65px;
    background-color: #4b7eff;
}

.alio {
    width: 100%;
    height: 391px;
    padding-top: 65px;
    background-color: #fea3fc;
}

.banner {
    width: 100%;
    height: 229px;
    padding-top: 65px;
    background-color: #ff7d7d;
}

.theme {
    width: 100%;
    height: 262px;
    padding-top: 65px;
    padding-bottom: 80px;
    background-color: #f9b28c;
}

/* 메인 영역 끝 */

/* 푸터 영역 시작 */
footer {
    width: 100%;
    height: 206px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #be4af4;
}

/* 푸터 영역 끝 */

/* 태그(타입) 선택자 */
/* 클래스 선택자 > 태그(타입) 선택자 */
/* header {
    background-color: blueviolet;
} */